<template>
            <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Artículos
                        <button type="button" @click="abrirModal('articulo','registrar')" class="btn btn-success">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" @click="listarArticulo(1,buscar,criterio,noPagina)" v-model="noPagina">
                                      <option value="5" >5</option>
                                      <option value="10">10</option>
                                      <option value="15">15</option>
                                      <option value="20">20</option>
                                      <option value="20">25</option>
                                    </select>
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                      <option value="descripcion">Descripción</option>
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarArticulo(1,buscar,criterio,noPagina)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarArticulo(1,buscar,criterio,noPagina)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>&nbsp;
                                     <button type="submit" id="btn" onclick="reporte()" class="btn btn-success">Exportar a excel</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm table2excel">
                            <thead>
                                <tr>

                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Categoría</th>
                                    <th>Precio Venta</th>
                                    <th>Stock</th>
                                    <th>Descripción</th>
                                    <th>Estado</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="articulo in arrayArticulo" :key="articulo.id">

                                    <td v-text="articulo.codigo"></td>
                                    <td v-text="articulo.nombre"></td>
                                    <td v-text="articulo.nombre_categoria"></td>
                                    <td v-text="articulo.precio_venta"></td>
                                    <td v-text="articulo.stock"></td>
                                    <td v-text="articulo.descripcion"></td>
                                    <td>
                                        <div v-if="articulo.condicion">
                                            <span style="font-size:18px" class="badge badge-success">Activado</span>
                                        </div>
                                        <div v-else>
                                            <span style="font-size:18px" class="badge badge-danger">Desactivado</span>
                                        </div>

                                    </td>
                                       <td>
                                        <button type="button" @click="abrirModal('articulo','actualizar',articulo)" class="btn btn-warning btn-sm">
                                          <i class="icon-pencil"></i>
                                        </button> &nbsp;
                                        <template v-if="articulo.condicion">
                                            <button type="button" class="btn btn-danger btn-sm" @click="desactivarCategoria(articulo.id)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button type="button" class="btn btn-info btn-sm" @click="activarCategoria(articulo.id)">
                                                <i class="icon-check"></i>
                                            </button>
                                        </template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio,noPagina)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio,noPagina)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio,noPagina)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-success modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <h4 class="col-md-3 form-control-label" for="text-input">Categoría:</h4>
                                    <div class="col-md-9">
                                        <select class="form-control" v-model="id_categoria">
                                            <option value="0" disabled>Seleccione una categoria:</option>
                                            <option v-for="categoria in arrayCategoria" :key="categoria.id" :value="categoria.id" v-text="categoria.nombre"></option>
                                        </select>
                                    </div>
                                </div>
                               <div v-show="errorCategoria" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <p>Seleccione una categoria.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <h4 class="col-md-3 form-control-label" for="text-input">Código:</h4>
                                    <div class="col-md-9">
                                        <input type="text" v-model="codigo" class="form-control" placeholder="Código de barras">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <h4 class="col-md-3 form-control-label" for="text-input">Nombre:</h4>
                                    <div class="col-md-9">
                                        <input type="text" v-model="nombre"  @keydown.tab="comprobarArticulo(nombre)" @keyup="comprobarArticulo(nombre)"  class="form-control" placeholder="Nombre del artículo">
                                    </div>
                                </div>
                                <div v-show="articuloRegistrado" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <p>Este nombre de arituculo ya esta registrado.</p>
                                    </div>
                                </div>
                                 <div v-show="errorArticulo" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <p>El campo "Nombre" es obligatorio.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <h4 class="col-md-3 form-control-label" for="text-input">Precio de venta:</h4>
                                    <div class="col-md-9">
                                        <input type="text" v-model="precio_venta" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div v-show="errorPrecioVenta" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <p>El campo "Precio de venta" es obligatorio.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <h4 class="col-md-3 form-control-label" for="text-input">Stock:</h4>
                                    <div class="col-md-9">
                                        <input type="number" v-model="stock" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div v-show="errorStock" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <p>El campo "Stock" es obligatorio.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <h4 class="col-md-3 form-control-label" for="email-input">Descripción:</h4>
                                    <div class="col-md-9">
                                        <input type="email" v-model="descripcion" class="form-control" placeholder="Ingrese descripción">
                                    </div>
                                </div>
                               
                            </form>
                        </div>
                        <div class="modal-footer">
                        	<button type="button" v-if="tipoAccion==1" class="btn btn-success" @click="registrarArticulo()">Guardar</button>
                            <button type="button" v-if="tipoAccion==2" class="btn btn-success" @click="actualizarArticulo()">Actualizar</button>
                            <button type="button" class="btn btn-warning" @click="cerrarModal()">Cerrar</button>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
        </main>
</template>
<script>
    export default {
        data (){
            return {
                articuloRegistrado: 0,
                articulo_id: 0,
                id_categoria : 0,
                nombre_categoria : '',
                codigo : '',
                nombre : '',
                precio_venta : 0,
                stock : 0,
                descripcion : '',
                arrayArticulo : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                errorCategoria : 0,
                errorArticulo : 0,
                errorStock : 0,
                errorPrecioVenta : 0,
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'nombre',
                noPagina :'5',
                buscar : '',
                arrayCategoria :[]
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        methods : {
            
            listarArticulo (page,buscar,criterio,noPagina){
                let me=this;
                var url= '/articulos?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio + '&noPagina='+ noPagina;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayArticulo = respuesta.articulos.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            //este metodo es para traerce todas las categorias y poder hacer el combo de la fk
            selectCategoria(){
                let me=this;
                var url= '/categorias/selectCategoria';
                axios.get(url).then(function (response) {
                    //console.log(response);
                    var respuesta= response.data;
                    me.arrayCategoria = respuesta.categorias;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            cambiarPagina(page,buscar,criterio,noPagina){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listarArticulo(page,buscar,criterio,noPagina);
            },
            registrarArticulo(){
                if (this.validarArticulo())
                    return;
                
                if(this.articuloRegistrado == 1)
                    return;
                
                if(this.articuloRegistrado == 0)
                {    
                    let me = this;

                    axios.post('/articulos/registrar',{
                        'id_categoria': this.id_categoria,
                        'codigo': this.codigo,
                        'nombre': this.nombre,
                        'stock': this.stock,
                        'precio_venta': this.precio_venta,
                        'descripcion': this.descripcion
                    }).then(function (response) {
                        me.cerrarModal();
                        me.mensajeAgregar();
                        me.listarArticulo(1,'','nombre',5);
                    }).catch(function (error) {
                        me.registroDuplicado();
                    });
                }
                this.articuloRegistrado = 0;
              
            },
            comprobarArticulo(nombre){
                    let me=this;
                    var url= '/articulos/comprobar?nombre=' + nombre ;
                    axios.get(url).then(function (response) {
                        var respuesta= response.data;
                    if(!nombre =='' && respuesta == '1')
                            me.articuloRegistrado = 1;    
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    me.articuloRegistrado = 0;
            },
            actualizarArticulo(){
                
                if (this.validarArticulo()){
                    return;
                }
                if(this.articuloRegistrado == 1)
                    return;
                
                if(this.articuloRegistrado == 0)
                {    
                    let me = this;

                    axios.put('/articulos/actualizar',{
                        'id_categoria': this.id_categoria,
                        'codigo': this.codigo,
                        'nombre': this.nombre,
                        'stock': this.stock,
                        'precio_venta': this.precio_venta,
                        'descripcion': this.descripcion,
                        'id': this.articulo_id
                    }).then(function (response) {
                        me.cerrarModal();
                        me.mensajeActualizar();
                        me.listarArticulo(1,'','nombre',5);
                    }).catch(function (error) {
                        me.registroDuplicado();
                    });
                }
                this.articuloRegistrado = 0;
            },
            registroDuplicado(){
            	swal({
                  type: 'error',
                  title: 'Oops...',
                  text: 'Registro duplicado!',
                  footer: '<p href>Intenta con otro nombre.</p>',
                })
            },
            mensajeActualizar()
            {
               let timerInterval
                swal({
                  title: 'Registro actulizado con exito!',
                  html: '',
                  timer: 650,
                  onOpen: () => {
                    swal.showLoading()
                    timerInterval = setInterval(() => {
                      swal.getContent().querySelector('strong')
                    }, 100)
                  },
                  onClose: () => {
                    clearInterval(timerInterval)
                  }
                }).then((result) => {
                  if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.timer
                  ) {
                    console.log('')
                  }
                })
            },
             mensajeAgregar()
            {
               let timerInterval
                swal({
                  title: 'Registro insertado con exito!',
                  html: '',
                  timer: 650,
                  onOpen: () => {
                    swal.showLoading()
                    timerInterval = setInterval(() => {
                      swal.getContent().querySelector('strong')
                    }, 100)
                  },
                  onClose: () => {
                    clearInterval(timerInterval)
                  }
                }).then((result) => {
                  if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.timer
                  ) {
                    console.log('')
                  }
                })
            },
            desactivarCategoria(id){
               swal({
                title: 'Esta seguro de desactivar esta categoría?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/articulos/desactivar',{
                        'id': id
                    }).then(function (response) {
                        me.listarArticulo(1,'','nombre',5);
                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });


                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {

                }
                })
            },
            activarCategoria(id){
               swal({
                title: 'Esta seguro de activar esta categoría?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/articulos/activar',{
                        'id': id
                    }).then(function (response) {
                        me.listarArticulo(1,'','nombre',5);
                        swal(
                        'Activado!',
                        'El registro ha sido activado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });


                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {

                }
                })
            },
            validarArticulo(){
                this.errorArticulo=0;
                this.errorCategoria=0;
                this.errorStock= 0;
                this.errorPrecioVenta=0;

                if (this.id_categoria==0)
                {
                    this.errorCategoria=1; return true;
                }
                else
                if (!this.nombre)
                { 
                    this.errorArticulo =1; return true;
                }
                else
                if (!this.stock)
                {
                    this.errorStock = 1; return true;
                }
                else
                if (!this.precio_venta) this.errorPrecioVenta =1; return true;

                this.errorArticulo=1;
                this.errorCategoria=1;
                this.errorStock= 1;
                this.errorPrecioVenta=1;
            },
            cerrarModal(){
                this.modal=0;
                this.tituloModal='';
                this.id_categoria= 0;
                this.nombre_categoria = '';
                this.codigo = '';
                this.nombre = '';
                this.precio_venta = 0;
                this.stock = 0;
                this.descripcion = '';
                this.errorArticulo=0;
                this.articuloRegistrado = 0;
            },
            abrirModal(modelo, accion, data = []){
                switch(modelo){
                    case "articulo":
                    {
                        switch(accion){
                           case 'registrar':
                            {
                                this.modal = 1;
                                this.tituloModal = 'Registrar artículo';
                                this.id_categoria=0;
                                this.nombre_categoria='';
                                this.codigo='';
                                this.nombre= '';
                                this.precio_venta=0;
                                this.stock=0;
                                this.descripcion = '';
                                this.tipoAccion = 1;
                                break;
                            }
                            case 'actualizar':
                            {
                                //console.log(data);
                                this.modal=1;
                                this.tituloModal='Actualizar artículo';
                                this.tipoAccion=2;
                                this.articulo_id=data['id'];
                                this.id_categoria=data['id_categoria'];
                                this.codigo=data['codigo'];
                                this.nombre = data['nombre'];
                                this.stock=data['stock'];
                                this.precio_venta=data['precio_venta'];
                                this.descripcion= data['descripcion'];
                                break;
                            }
                        }
                    }
                }
                this.selectCategoria();
            }
        },
        mounted() {
            this.listarArticulo(1,this.buscar,this.criterio,this.noPagina);
        }
    }
    
</script>

<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
