<template>
            <main class="main">
            <!-- Breadcrumb -->
               <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Categorías
                        <button type="button" @click="abrirModal('categoria','registrar')" class="btn btn-success">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>

                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" @click="listarCategoria(1,buscar,criterio,noPagina)" v-model="noPagina">
                                      <option value="5" >5</option>
                                      <option value="10">10</option>
                                      <option value="15">15</option>
                                      <option value="20">20</option>
                                      <option value="20">25</option>
                                    </select>
                                    <!--el criterio sirve para filtrar lo se va a buscar -->
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                      <option value="descripcion">Descripción</option>
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarCategoria(1,buscar,criterio,noPagina)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarCategoria(1,buscar,criterio, noPagina)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                     &nbsp;
                                     <button type="submit" id="btn" onclick="reporte()" class="btn btn-success">Exportar a excel</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm table2excel">
                            <thead>
                                <tr>
                                    
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Estado</th>
                                    <th width="10%">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="categoria in arrayCategoria" :key="categoria.id">
                                    
                                    <td v-text="categoria.nombre"></td>
                                    <td v-text="categoria.descripcion"></td>
                                    <td>
                                        <div v-if="categoria.condicion">
                                            <span style="font-size:18px" class="badge badge-success">Activado</span>
                                        </div>
                                        <div v-else>
                                            <span style="font-size:18px" class="badge badge-danger">Desactivado</span>
                                        </div>
                                    </td>
                                    <td>
                                        <!--botton actulizar que manda 3 parametros al la funcion axios-->
                                        <button type="button" @click="abrirModal('categoria','actualizar',categoria)" class="btn btn-warning btn-sm">
                                         <i class="icon-pencil"></i>
                                        </button> &nbsp;
                                         <!-- Inicio del modal Eliminar -->
                                         <template v-if="categoria.condicion">
                                            <button type="button" class="btn btn-danger btn-sm" @click="desactivarCategoria(categoria.id)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button type="button" class="btn btn-info btn-sm" @click="activarCategoria(categoria.id)">
                                                <i class="icon-check"></i>
                                            </button>
                                        </template>
                                        <!-- Fin del modal Eliminar -->
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                         <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio,noPagina)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page, buscar, criterio, noPagina)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio,noPagina)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-success modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <h5 class="col-md-3 form-control-label" for="text-input">Nombre:</h5>
                                    <div class="col-md-9">
                                        <input type="text" v-model="nombre" @keydown.tab="comprobarCategoria(nombre)" @keyup="comprobarCategoria(nombre)" class="form-control" placeholder="Nombre de categoría">
                                    </div>
                                </div>
                                <div v-show="categoriaRegistrada" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <p>Este nombre de categoria ya esta registrada.</p>
                                    </div>
                                </div>
                                <!--ESTE MENSAJE SOLO SE MOSTRARA CUADNO LA VARIABLE ERROR CATEGORIA SEA VERDADERIA-->
                                 <div v-if="errorCategoria==1" class="form-group row div-error">
                                    <!--imprimimos el testo con 2 clases de boostrab--> 
                                    <div class="text-center text-error">
                                        <!--Aqui usamos el for para imprmir el arreglo al que le inicmos el put con el mensaje de error en axios-->
                                        <div v-for="error in errorMostrarMsjCategoria" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <h5 class="col-md-3 form-control-label" for="email-input">Descripción:</h5>
                                    <div class="col-md-9">
                                        <input type="email" v-model="descripcion" class="form-control" placeholder="Ingrese descripción">
                                    </div>
                                </div>
                               

                            </form>
                        </div>
                        <div class="modal-footer">
                            <!--Mandar llamar a la funcion act o guardar dependiendo del modal abierto de segun el boton aplastado actt o regis-->
                            <button type="button" v-if="tipoAccion==2" @click="actualizarCategoria()" class="btn btn-success">Actualizar</button>

                            <button type="button" v-if="tipoAccion==1" class="btn btn-success" @click="registrarCategoria()">Guardar</button>
                            <button type="button" class="btn btn-warning" @click="cerrarModal()">Cerrar</button>
                           
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
        </main>
</template>

<script>
    export default {
        data (){
            return {
                categoriaRegistrada : 0,
                categoria_id: 0,
                nombre : '',
                descripcion : '',
                arrayCategoria : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                errorCategoria : 0,
                errorMostrarMsjCategoria : [],
                pagination : {
                'total': 0,
                'current_page' : 0,
                'per_page' : 0,
                'last_page' : 0,
                'from' : 0,
                'to' : 0,
            
                },
                offset : 3,
                criterio : 'nombre',
                noPagina : '5',
                buscar : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //calcula elementod s de la pagnacion
            pagesNumber: function(){
              if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
        methods : {
           listarCategoria (page,buscar,criterio, noPagina){
                let me=this;
                //enviar los paramtros recividos de la vista hacia el controlador
                var url= '/categorias?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio+ '&noPagina='+ noPagina;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayCategoria = respuesta.categorias.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            cambiarPagina(page,buscar,criterio, noPagina){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listarCategoria(page,buscar,criterio, noPagina);
            },
            registrarCategoria(){

                //SI NO PASA LA VALIDACION DE LA CATEGORIA SE SEGUIRA RETORNANDO EL MISMO METODO
                if (this.validarCategoria()){
                    return;
                }
                 if(this.categoriaRegistrada == 1)
                    return;

                let me = this;

                axios.post('/categorias/registrar',{
                    'nombre': this.nombre,
                    'descripcion': this.descripcion
                    //si todo sale bien on el metodo the mandamos llamar el metodo para cerrar el modal y para refrescar la lista mismos metodo axiosS
                }).then(function (response) {
                    me.cerrarModal();
                    me.listarCategoria(1,'', 'nombre',5);
                    me.mensajeAgregar();
                    //si no se puede hacer el insert se enviara un error en la consola
                }).catch(function (error) {
                    me.registroDuplicado();
                });
            },
             comprobarCategoria(nombre){
                    let me=this;
                    var url= '/categorias/comprobar?nombre=' + nombre ;
                    axios.get(url).then(function (response) {
                        var respuesta= response.data;
                    if(!nombre =='' && respuesta == '1')
                            me.categoriaRegistrada = 1;    
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    me.categoriaRegistrada = 0;
            },
            mensajeAgregar()
            {
               let timerInterval
                swal({
                  title: 'Registro insertado con exito!',
                  html: '',
                  timer: 650,
                  onOpen: () => {
                    swal.showLoading()
                    timerInterval = setInterval(() => {
                      swal.getContent().querySelector('strong')
                    }, 100)
                  },
                  onClose: () => {
                    clearInterval(timerInterval)
                  }
                }).then((result) => {
                  if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.timer
                  ) {
                    console.log('')
                  }
                })
            },
            mensajeActualizar()
            {
               let timerInterval
                swal({
                  title: 'Registro actulizado con exito!',
                  html: '',
                  timer: 650,
                  onOpen: () => {
                    swal.showLoading()
                    timerInterval = setInterval(() => {
                      swal.getContent().querySelector('strong')
                    }, 100)
                  },
                  onClose: () => {
                    clearInterval(timerInterval)
                  }
                }).then((result) => {
                  if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.timer
                  ) {
                    console.log('')
                  }
                })
            },
             registroDuplicado(){
               swal({
                  type: 'error',
                  title: 'Oops...',
                  text: 'Registro duplicado!',
                  footer: '<p href>Intenta con otro nombre.</p>',
                })
            },
            actualizarCategoria(){
                if (this.validarCategoria()){
                    return;
                }

                let me = this;

                axios.put('/categorias/actualizar',{
                    'nombre': this.nombre,
                    'descripcion': this.descripcion,
                    'id': this.categoria_id
                    //si todo sale bien on el metodo the mandamos llamar el metodo para cerrar el modal y para refrescar la lista mismos metodo axiosS
                }).then(function (response) {
                    me.cerrarModal();
                    me.listarCategoria(1,'','nombre',5);
                    me.mensajeActualizar();
                    //si no se puede hacer el insert se enviara un error en la consola
                }).catch(function (error) {
                    console.log(error);
                });
            },
             desactivarCategoria(id){
               swal({
                title: '¿Esta seguro de desactivar esta categoría?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/categorias/desactivar',{
                        'id': id
                    }).then(function (response) {
                        me.listarCategoria(1,'','nombre',5);
                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito!.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            activarCategoria(id){
               swal({
                title: '¿Esta seguro de activar esta categoría?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/categorias/activar',{
                        'id': id
                    }).then(function (response) {
                        me.listarCategoria(1,'','nombre',5);
                        swal(
                        'Activado!',
                        'El registro ha sido activado con éxito!.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            validarCategoria(){
                this.errorCategoria=0;
                this.errorMostrarMsjCategoria =[];

                //SI EL NOMBRE DE LA CATEGORIA ESTA VACIO SE HACE UN PUSH AL ARREGLO PARA METER UNA CADENA DE TEXTO A ESE ARREGLO
                if (!this.nombre) this.errorMostrarMsjCategoria.push("El nombre de la categoría no puede estar vacío.");

                //SI EL ARREGLO TIENE ALGO EL ERROR CATEGORIA SE LE ASIGNA 1 Y SE RETORNA ESE VALOR
                if (this.errorMostrarMsjCategoria.length) this.errorCategoria = 1;

                return this.errorCategoria;
            },
            cerrarModal(){
                this.modal=0;
                this.tituloModal='';
                this.nombre='';
                this.descripcion='';
                this.errorCategoria=0;
                this.categoriaRegistrada=0;
            },
            //los tres parametros de esta funcion sn el modelo de laravel la accion registrar o modificar y el arreglo de datos para llenar el formulario si vamos a modificar
            abrirModal(modelo, accion, data = [])
            {
                switch(modelo)
                {
                    case "categoria":
                    {
                        switch(accion)
                        {
                            case 'registrar':
                            {
                                this.modal = 1;
                                this.tituloModal = 'Registrar categoría';
                                this.nombre= '';
                                this.descripcion = '';
                                this.tipoAccion = 1;
                                break;
                            }
                            case 'actualizar':
                            {
                                 this.modal=1;
                                 this.tituloModal = 'Actulizar categoria'
                                 this.tipoAccion = 2;
                                 this.categoria_id = data['id'];
                                 this.nombre = data['nombre'];
                                 this.descripcion = data['descripcion'];
                                 break;
                            }
                        }
                    }
                }
            }
        },
        mounted() {
            this.listarCategoria(1,this.buscar,this.criterio, this.noPagina);
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
